@import url('https://fonts.googleapis.com/css2?family=Jua&family=Oswald&family=ZCOOL+XiaoWei&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'ZCOOL XiaoWei', sans-serif;
}
body{
    /*overflow: hidden;*/
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #D9D9DA;
}
nav{
    display: flex;
    width: 100%;
    justify-content:space-around;
    height: 60px;
    line-height: 60px;
    z-index: 111;
    font-weight: bold;
}
.logo{
    display: flex;
}
#site-logo{
    height:80px;
    width: 80px;
}
#site-name{
    font-size: 19px;
    height:60px;
    width:100px;

}

.navlist{
    display:flex;
}
.navlist li{
    list-style: none;
    margin: 0 15px;
}
.navlist li a{
    font-size:21px;
    letter-spacing: 3px;
    text-decoration: none;
    color: black;
    text-transform:capitalize;
    
}
.navlist li:hover a{
    color: #34507E;   
}
.link a:hover { 
    color: #34507E;   
}
.link a{
    font-size:25px;
    color:black;
    margin: 13px 10px;
}
.casing{
    display: flex;
    width:100%;
    height: calc(100vh - 60px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;   
}
.introduce{
    width: 50%;
}

.imagespace{
    position: relative;
    width: 100%;
    height: 100%;
}
.imagespace img{
    position: relative;
    height: 100%;
    width: calc(130%-60px);
    right: -155px;
    top: 50px;
}